composer.phar
/vendor/
.phpunit.result.cache
/tests/files/unpack*
!/tests/files/test-saves/
!/tests/files/test-saves/**
/archived-saves/unpack*
bin/X4 SaveGame Parser UI.lnk
bin/X4 SaveGame Monitor.lnk
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
tests/phpstan/result.txt
config.json
