<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="X4 Savegame parser tests">
            <directory suffix=".php">./tests/testsuites</directory>
        </testsuite>
    </testsuites>
</phpunit>